<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="Name" class="form-control" [(ngModel)]="ingredientName">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="Amount" id="amount" class="form-control" [(ngModel)]="ingredientAmount">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="addIngredient()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
